
    <div class="text">
        <nav>
            <div class="head">
            <h1>Creative Agenecy</h1>
            </div>
            <div class="bar">
            <ul>
                <li ><a class="active" href="#home">Home</a></li>
               <li><a class="margin" href="#news">Watch Video</a></li>
               <li><a class="margin" href="#contact">Demo Page</a></li>
               <li><a class="margin" href="#about">Blocks</a></li>
               <li><a style="width: 28px;" href=""><img class="img2" style="width: 100%;" src="../../assets/image/twitter.png"></a></li>
               <li><a style="width: 28px;" href=""><img class="img2" style="width: 100%;" src="../../assets/image/facebook.png"></a></li>
               <li><a style="width: 28px;" href=""><img class="img2" style="width: 100%;" src="../../assets/image/instagram.png"></a></li>

            </ul>
            </div>
        </nav>
</div>
