<div *ngFor="let sec of section;let i=index">
    <h1 *ngIf="i==0">{{sec[2].sectionName}}</h1>
    <hr>
  <div class="row" >
        <div class="card" style="width: 18rem;margin:10px 40px;"   *ngFor="let book of books;let i=index">
            <img  src="{{book.bookImage}}" width="285" height="250" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">{{book.bookName}}</h5>
              <p class="card-text">{{book.authorName}}</p>
            </div>
            <div class="card-body text-center" style="padding-top: 0px;">
            <button class="btn btn-primary" style="margin-right: 10px;width: 100px;" data-toggle="modal" data-target="#exampleModalCenter" (click)="bookDescription(book)">Details</button>
            <button *ngIf="book.noOfBooks==1" class="btn btn-danger" style="width: 110px;" [disabled]="true">Out Of Stock</button>
            <button *ngIf="book.noOfBooks>=2" class="btn btn-primary" style="width: 100px;" [disabled]="buttonHidden" (click)="borrow(book)">Borrow</button>
            </div> 
        </div> 
  </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{cultureDescription.bookName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5>Available Books:{{cultureDescription.noOfBooks}}</h5><br>
            {{cultureDescription.description}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>