.content-1{
    clear: both;
    text-align: center;
}
.head-1{
    padding-top: 80px;
}
.p-1{
    width: 59%;
    text-align: center;
    margin-left:268px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}