<div class="">
    <div class="container-fluid">
        <div class="col-sm-3 back float-left">
         <div class="">
             <h2>Logo</h2>
             <div class="list-group para">
                <a href="#" class="list-group-item active line">Dashboard</a>
                <a href="#" class="list-group-item line1">Age</a>
                <a href="#" class="list-group-item line1">Gender</a>
                <a href="#" class="list-group-item line1">Geo</a>
              </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm back1 ">
                <div class="para">
                <h5>Dashboard</h5>
                <p>Some Text...</p>
                </div>
            </div>
         </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm back1 ">
                <div class="para">
                    <h5> Users</h5>
                    <p> Users</p>
                </div>
            </div>
            <div class="col-sm back1 ">
                <div class="para">
                    <h5>Pages</h5>
                    <p>100 Million</p>
                </div>
            </div>
            <div class="col-sm back1 ">
                <div class="para">
                    <h5>Sessions</h5>
                    <p>10 Million</p>
                </div>
            </div>
            <div class="col-sm back1 ">
                <div class="para">
                    <h5>Bounce</h5>
                    <p>30%</p>
                </div>
            </div>
           </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col  back2">
                <div class="para">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
            <div class="col  back2">
                <div class="para">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
            <div class="col  back2">
                <div class="para">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
           </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-8 back3"><p>Text</p></div>
            <div class="col  back3"><p>Text</p></div>
           </div>
    </div>
      
</div>
